#
# Copyright (c) 2024-2024, the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

server:
  port: ${port:7805}
  shutdown: graceful
spring:
  grpc:
    client:
      channels:
        storage:
          address: dns:///storage.service.consul:9090
          default-load-balancing-policy: round_robin
          negotiation-type: PLAINTEXT
        iam:
          address: dns:///iam.service.consul:9090
          default-load-balancing-policy: round_robin
          negotiation-type: PLAINTEXT
        log:
          address: dns:///log.service.consul:9090
          default-load-balancing-policy: round_robin
          negotiation-type: PLAINTEXT
        unique:
          address: dns:///unique.service.consul:9090
          default-load-balancing-policy: round_robin
          negotiation-type: PLAINTEXT
  config:
    import: 'optional:consul:'
  cloud:
    consul:
      host: ${consul_ip:localhost}
      port: ${consul_port:8500}
      config:
        enabled: true
        default-context: ${spring.application.name}
        profile-separator: '-'
        format: YAML
        data-key: ${spring.application.name}
        prefixes: mumu
        acl-token: ${CONSUL_TOKEN}
      discovery:
        register: true
        instance-id: ${spring.application.name}
        service-name: ${spring.application.name}
        prefer-ip-address: true
        ip-address: ${spring.cloud.client.ip-address}
        acl-token: ${CONSUL_TOKEN}
        heartbeat:
          enabled: true
          use-actuator-health: false
        tags:
          - "mumu"
    refresh:
      never-refreshable: com.p6spy.engine.spy.P6DataSource
