# =============================
# Lombok Global Configuration
# =============================

# 停止向父目录冒泡，模块级配置生效
config.stopBubbling = true

# equals / hashCode 默认包含父类
lombok.equalsAndHashCode.callSuper = call

# toString 默认包含父类
lombok.toString.callSuper = call

# 标记 Lombok 生成的代码（利于工具识别、覆盖率统计）
lombok.addLombokGeneratedAnnotation = true
